// ==========================================================================
// Shame
// If any code was written hastily to meet deadlines or in a hackish way then those
// codes should be written in _shame.scss. Documentation of hack codes is encouraged.
// Cleaning up the code in _shame.scss should be done at spare time. Find out whose code it is by
// using: $ git blame _shame.scss
// ==========================================================================


.component-page {
  section {
    padding: 40px 0;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .card {
    margin-bottom: 2rem;
  }
}
.quiz-answer__item:not(.active):hover{
  background-color: #e3ebfe;
}

