.accordion {
  border: 1px solid $gray-400;
  width: 100%;
  border-radius: 8px;
  background-color: #FCFCFF;

  @include e(row) {
    background-color: #FCFCFF;
    border: 1px solid getColor('grey.borderGray');
    border-radius: $border-radius;

    .accordion--sidebar & {
      border-radius: 0;
      background-color: transparent;

      border: {
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }

  @include e(chevron) {
    @include transition;
    width: 24px;
    height: 24px;
  }

  @include e(title) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: getSpacing('4x') getSpacing('6x');
    cursor: pointer;

    .accordion--sidebar & {
      padding: getSpacing('3x') getSpacing('6x');
    }

    @include m(active) {
      border-bottom: 1px solid getColor('grey.borderGray');

      .accordion--sidebar & {
        background-color: rgba(getColor('text.main'), 0.24);
      }

      .accordion {
        @include e(chevron) {
          transform: rotate(180deg);
        }
      }
    }

    &:hover {
      border-radius: 8px;
    }
  }

  @include e(content) {
    overflow: hidden;
    padding: 0 46px;
  }

  @include e(lock-content) {
    display: 'inline-flex';
    align-items: 'center';
  }

  @include m(border) {
    background: none !important;
  }

  @include e(item) {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    &:last-child {
      border-bottom: none;
    }
  }
}
