.arrow__down {
  position: absolute;
  left: 1.8rem;
  z-index: 8;
  top: -120px;
  height: 165px;
  @include mq(lg) {
    top: -150px;
  }
}

.arrow2 {
  position: absolute;
  left: 4.8rem;
  z-index: 8;
  top:100%;
  @include mqmax(md) {
    top: 85%;
    left: 60px;
  }
}
