.badge{
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include m(tiny){
    height: 20px;
    @include getFontSize("body14");
    font-weight: 700;
  }
  @include m(light){
    color: #0556f3;
    background-color: #f5f5f5;
  }
}