.btn {
  padding: 12px 16px;
  border: 0;
  border-radius: $border-radius;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  @include transition;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &:focus {
    box-shadow: none;
  }

  @include m(w-icon) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @include m(primary) {
    border: 1px solid $primary;
    background: $primary;
    color: $white;

    &:hover {
      color: white;
      background-color: darken($color: $primary, $amount: 10%);
    }

    &.outline {
      border-color: $primary;
      color: $primary;
      background-color: transparent;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }

    &.btn--light {
      background-color: #cdddfd;
      color: $primary;
      border-color: #cdddfd;
    }
  }

  @include m(secondary) {
    background: $secondary;
    color: $white;

    &:hover {
      color: white;
      background-color: darken($color: $secondary, $amount: 10%);
    }
  }

  @include m(ghost) {
    background-color: transparent;
    color: $primary;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $primary;
      color: $primary;
    }
  }

  @include m(yellow) {
    background-color: getColor('warning.base');
    color: $white;

    &:hover {
      background-color: darken($color: getColor('warning.base'), $amount: 10%);
    }
  }

  @include m(danger) {
    background-color: getColor('danger.base');
    color: $white;

    &:hover {
      background-color: getColor('danger.dark');
      color: $white;
    }
  }

  @include m(white) {
    background-color: $white;
    color: $color-text;

    &:hover {
      background-color: darken($color: $white, $amount: 10%);
      color: $color-text;
    }
  }

  @include m(dark) {
    background-color: #000000;
    color: white;

    &:hover {
      color: $white;
      background-color: transparentize(#000000, 0.2);
    }
  }

  @include m(outline) {
    border: 1px solid getColor('grey.borderGray');
    color: $white;

    &:hover {
      background-color: $light-grey;
    }
  }

  @include m(link) {
    color: $blue;
    padding: 8px 0;
    font-size: 1rem;
    min-width: unset;

    &:hover {
      text-decoration: underline;
    }
  }

  @include m(sm) {
    padding: 12px 16px;
    font-size: getFontSize('body16');
  }

  @include m(block) {
    width: 100%;
    min-height: 50px;
  }

  &--disabled,
  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }

  &-group {
    @include m(register) {
      .btn {
        justify-content: flex-start;
        text-align: left;
      }
    }
  }

  &-back {
    color: $color-text;
  }

  &--sm {
    padding: 12px 16px;
    height: 48px;
  }

  &.rounded {
    border-radius: 10rem !important;
  }

  &.active {
    background-color: $tertiary;
    color: $white;
  }

  @include m(filter) {
    padding: 8px 16px;
    max-height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 157px;
    text-align: center;

  }

  &--filter-link {
    color: $primary;
  }
}

.btn__search--primary {
  border-radius: 0 0.25em 0.25em 0;
  min-height: 72px;
  width:186px;
  padding: 21px 33px;

  @include mqmax(lg) {
    border-radius: 0;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    width: 100%;
  }
  @include mqmax(md) {
    min-height: 62px;
    height: 62px;
    line-height: 1;
    padding: 16px 33px;

  }
}

.link__button {
  background: none;
  border: none;
  outline: none !important;
  text-align: left !important;
  cursor: pointer;
  color: $color-text;

  &button.nav-link {
    background: none;
    border: none;
  }

  &.nav-link.active {
    background: none;
    border: none;
    color: $primary;
    border-radius: 0;
    box-shadow: none;

    @include mqmax(md) {
      border-bottom: 2px solid $primary;
    }
  }

  &:hover {
    color: $primary !important;
  }
}

.course__button {
  background: none;
  font-weight: 400;
}

.code__btn {
  padding: 9px 36px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.code__button {
  padding: 9px 36px;
  // font-weight: 600;
}

.share-btn {
  background-color: transparent;
  padding: 1rem 0;
  font-weight: 400;
}

.filter__button {
  padding: 8px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 157px;
  min-height: auto;
}

.filter__link {
  padding: 8px 16px;
  width: 157px;
}

.btn-xs {
  font-size: 14px;
  padding: 10px 16px;
}

.contact__content h2 {
  margin-bottom: 64px;
}

.newsletter-btn {
  min-height: 61px;
  min-width:77.61px !important;
}