.callout {
    padding: 4rem 3rem;
    background-color: $color-text;
    color: $white;
    border-radius: 16px;
    @include mqmax(sm) {
        padding: 2rem 1.5rem;
    }
    @include e(title) {
        @include mqmax(sm) {
            font-size: getFontSize('article');
            font-weight: 600;
        }
    }
    @include e(action) {
        @include mqmax(sm) {
            margin-top: 2rem;
            width: 100%;
        }
    }
    @include m(vertical) {
        .row {
            display: flex;
            flex-direction: column;
        }
    }
}