.card {
  padding: 2rem;
  border-radius: 12px;
  background-color: $white;
  position: relative;
  transition: 0.2s $ease--in-out-quad;
  height: 100%;
  @extend .shadow;

  @include m(border) {
    border: 1px solid getColor("grey.borderGray");
  }

  @include e(title) {
    margin-bottom: 0.5rem;

    @include m(lg) {
      font-size: 32px;
    }
  }

  @include m(filled) {
    border-radius: 24px;
    background: $white;
    box-shadow: 12px 12px 18px rgba(0, 24, 87, 0.1);

    &-yellow {
      background-color: $light-yellow;
      box-shadow: 12px 12px 18px rgba(75, 0, 41, 0.1);

      &.card--border {
        border: 1px solid #ffba84 !important;
      }
    }

    &-blue {
      background-color: #e3faff;
      box-shadow: 8px 8px 14px rgba(0, 69, 84, 0.1);

      &.card--border {
        border: 1px solid transparentize($color: $primary, $amount: 0.8);
      }
    }
  }

  @include m(horizontal) {
    padding: 0;
    display: flex;
    align-items: center;

    .card__body {
      padding: 1rem;
      flex: 1 1 auto;
    }

    .card__title {
      margin-bottom: 1.375rem;
    }
  }

  @include e(img) {
    &--pop {
      height: 140px;
      width: 140px;
      padding: 8px;

      img {
        height: 124px;
        width: 124px;
        object-fit: cover;
      }
    }
  }

  @include e(arrow) {
    position: absolute;
    left: 0;

    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      box-sizing: border-box;

      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent $white $white;

      transform-origin: 0 0;
      transform: rotate(45deg);

      border-radius: 0 0 0 4px;
    }

    &:before {
      box-shadow: -1px 1px 0 0 #d3dce6;
    }

    &:after {
      box-shadow: -2px 2px 3px -1px rgba(0, 24, 87, 0.1);
    }

    @include mqmax(sm) {
      top: 0;
      left: 50px;

      &::before,
      &::after {
        transform: rotate(135deg);
      }
    }
  }

  @include m(link) {
    &:hover {
      cursor: pointer;
      background-color: transparentize($color: $primary, $amount: 0.9);
      border-color: transparentize($color: $primary, $amount: 0.7);
    }
  }

  @include e(link) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .course-complete {
    position: absolute;
    top: -40px;
    right: -40px;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  &-course {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15.94rem;
    min-height: 22.5rem;
    padding: 1.2rem;

    .card__body {
      display: flex;
      align-items: center;
      @include mqmax(md){
       min-height: 120px;
      }
    }

    img {
      max-width: auto;
      object-fit: contain;
    }

    .course__image {
      height: 9.5rem;
      position: absolute;
      top: 7rem;
      left: 1.6rem;
      width: 9.6rem;

      img {
        height: 100%;
      }
    }

    @include mqmax(md) {
      width: 100%;
      flex-direction: row;
      min-height: 100%;
      padding: 0;

      .course__image {
        position: relative;
        left: 0;
        top: 0;
        width: 6.25rem;
        height: 6.25rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;

        img {
          height: 100%;
        }
      }

      .card__title {
        font-weight: $font-weight-semi-bold;
        font-size: 1rem;
      }
    }

  }

  &-index {
    font-size: 2rem;
    font-weight: 600;
  }

  &-path {
    background-color: $white;
    font-weight: 600;
    height: 100%;
    border-radius: 8px;
    color: transparentize($color: $color-text, $amount: 0.33);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @extend .shadow;
    position: relative;
    transition: 0.2s ease-in-out;

    &.active {
      color: $color-text;
      background: #eceefa;
    }

    &.current {
      color: $color-text;
      background-color: #f3f5ff;
    }
  }

  &-progress {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 3px;
    background: $gray;
    width: 100%;
    border-radius: 0 0 25px 25px;
    overflow: hidden;

    &-seek {
      height: 100%;
      background-color: $secondary;
      transition: width 8s linear;
    }
  }

  &__learning {
    width: 15.94rem;
   height: 355px;
  }
}

.card-deco-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-arrow-pop {
  position: absolute;
  top: 30px;
  left: -100px;

  @include mqmax(sm) {
    transform: rotate(45deg);
    left: unset;
    top: -30px;
    right: 0;
  }
}

@mixin stacked-cards($count: 30) {
  // @include on UL class
  position: relative;

  .card {
    position: relative;
    $target: 0;
    $index: $count;

    @while $index>0 {
      &:nth-child(#{$target}) {
        z-index: #{$index};
      }

      $target: $target+1;
      $index: $index - 1;
    }
  }
}

.course-progress {
  .card {
    height: 100%;
  }
}

.stacked-cards {
  display: flex;

  .card {
    width: 255px;
    height: 353px;
  }

  .card:not(:first-child) {
    margin-left: -26px;
    width: 240px;

    &:hover {
      // z-index: 6;
      transform: translateX(26px);
    }
  }

  @include stacked-cards(10);
  //other styles here
}

.info-card {
  display: flex;
  padding: 0.75rem 1rem;
  color: #926e12;
  background-color: #f9efd2;
  border-radius: $border-radius;
  font-size: 1rem;
  margin-bottom: 4ex;

  @include e(icon) {
    flex: 0 0 24px;
    margin-right: 0.75rem;
  }

  @include e(body) {}
}

.img-alternative-letter {
  font-size: 7.75rem;
}

.course-incomplete {
  font-weight: 600;
}

.card-path {
  // min-height: 162px;s
  width: 255px;

  @include mqmax(xl){
    margin: 0 .4rem;
  }

}

.card__path--mobile {
  @include mqmax(md) {
    background: none;
    border: 0 !important;
    padding: 0 !important;
    box-shadow: none;
    min-height: 1rem;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}
.learning{
  &__path{
    width: 255px!important;
    height: 150px;
  }
  &__container{
    @include mq(lg){
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;
      padding-right: 15px;
    padding-left: 15px;
    }
  }
}
.pricing__card{
  box-shadow: 4px 8px 12px rgba(58, 45, 0, 0.12);
}


.card__block{
  border-radius: 12px;
}