.list {
  &__link {
    display: inline-flex;
    width: 100%;
    padding: 12px 0;
    &:hover {
      text-decoration: none;
      background-color: $subtle-gray;
    }
  }
  &--border {
    .list__link {
      border-bottom: 1px solid getColor('grey.borderGray');
    }
  }
}