.navbar {
  &-nav {
    flex-direction: row;

    .nav-link {
      color: $color-text;
      padding: 0.5rem 1rem;
      display: inline-flex;
      align-items: center;

      &:hover {
        color: $primary;
      }
    }
  }

  .brand__logo {
    height: 1.6rem;
    margin-right: 1.6rem;
  }

  .form-control {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 308px;
  }
}

.dropdown-toggle::after {
  content: none;
}

.navbar-brand {
  width: 106px;

  @include mqmax(md) {
    width: 50px;

  }
}

.input-group--w-icon {
  .input-group-prepend {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: $lightIndigo;
  }

  .form-control {
    padding-left: 3.5rem;
  }
}

.footer {
  padding: 56px 0;
  border-top: 1px solid getColor('grey.borderGray');

  @include mqmax(md) {
    padding: 26px 0;

  }

  h4 {
    color: $color-text;
    margin-bottom: 0.75rem;
  }

  &-logo {
    max-width: 112px;
  }

  &-nav {
    @include mq(lg) {
      &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 1px;
        background: #d3dce6;
        position: absolute;
        right: -50px;
        top: 0;
      }
    }

    ul {
      margin-bottom: 2rem;

      @include mq(lg) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: $color-text;
    display: block;
    padding: 2px 0;
    margin-bottom: 10px;
    font-size: getFontSize('body14');
    font-weight: 400;
    line-height: 20px;

    &:hover {
      text-decoration: underline;
    }

    &.link {
      font-weight: 600;
      color: $primary;
    }
  }

  &-bottom {
    background-color: $purple-grey;
    border-top: 1px solid getColor('grey.borderGray');

    @include e(content) {
      @include mqmax(sm) {
        flex-direction: column;
      }
    }

    ul {
      list-style-type: none;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.notification-toggle {
  cursor: pointer;
}

// temporary for mobile navigation

@include mqmax(sm) {
  .navbar {

    form,
    .navbar-nav,
    .btn {
      display: none;
    }
  }
}



.navbar-search {
  position: relative;

  &-result-wrapper {
    max-height: 450px;
    overflow: auto;
  }

  @include e(results) {
    width: 400px;
    box-shadow: 12px 12px 18px rgba(0, 24, 87, 0.15);
    background-color: $white;
    position: absolute;
    left: 0;
    top: 46px;
    border: 1px solid getColor('grey.borderGray');
    border-radius: 8px;
    overflow: hidden;
  }

  @include e(category) {
    display: block;
    padding: getSpacing('4x');
    background-color: getColor('grey.mainBg');
  }

  @include e(items) {
    padding: getSpacing('2x') 0;

    &.w-border {
      padding: 0;

      .navbar-search__item {
        padding: getSpacing('4x');

        &:not(:last-child) {
          border-bottom: 1px solid getColor('grey.borderGray');
        }
      }
    }
  }

  @include e(item) {
    display: block;
    color: $color-text;
    padding: getSpacing('2x') getSpacing('4x');
    cursor: pointer;
  }
}

.mobile-navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: $zindex-fixed;
  display: none;

  .navbar-search {
    .form-control {
      width: 100%;
    }
  }

  .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  @include e(bottom) {
    position: absolute;
    width: 100%;
    bottom: 20px;
  }
}

.navbar {

  .navbar-nav,
  .navbar-search {
    &:not(.nav-mobile) {
      @include mqmax(md) {
        display: none;
      }
    }
  }
}

.navbar__menu {
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;

  &.show {
    @include mqmax(lg) {
      flex-direction: column;
      position: fixed;
      align-items: flex-start;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: 100;
      transition: all .3s ease-in-out;

    }

  }

  @include mqmax(lg) {
    flex-direction: column;
    position: fixed;
    align-items: flex-start;
    left: 0;
    top: -100vh;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 100;
    transition: all .3s ease-in-out;

  }
}

.footer-nav {
  h4 {
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: 500;
  }

  @include mqmax(lg) {
    h4 {
      font-size: 18px;
    }

    .btn-primary {
      min-width: 77px;
    }
  }
}

.dropdown-menu {
  padding: 0;
  border-radius: 0 0 8px 8px;
  box-shadow: 12px 12px 18px rgba(0, 24, 87, 0.15);

  &.show {
    display: flex;
  }

  @include e(tabs) {
    flex: 0 0 180px;
    padding-left: 0;
    list-style-type: none;
    border-right: 1px solid getColor('grey.borderGray');
  }

  @include e(tab) {
    .tab__link {
      display: block;
      padding: getSpacing('4x') getSpacing('5x') getSpacing('4x');
      border-bottom: 1px solid getColor('grey.borderGray');
      color: $color-text;
      font-weight: 500;
      border-left: 4px solid transparent;

      &:hover {
        background-color: $purple-grey;
        text-decoration: none;
        cursor: pointer;
      }

      @include m(active) {
        border-left-color: $primary;
        font-weight: 600;
        background-color: $purple-grey;
        width: calc(100% + 2px);
        text-decoration: none;
      }
    }
  }

  @include e(content) {
    background-color: $purple-grey;
    flex: 1 1 auto;
    border-radius: 0 0 8px 0;
  }

  @include e(list) {
    padding: getSpacing('6x');
    max-height: 410px;
    overflow: auto;
  }

  @include e(more) {
    padding: getSpacing('2x');
    background-color: $white;
    text-align: right;
    border-top: 1px solid getColor('grey.borderGray');
    border-radius: 0 0 8px 0;
  }

  @include e(item) {
    padding: getSpacing('3x');
    display: flex;
    align-items: center;
    background-color: $white;
    margin-bottom: getSpacing('4x');
    border-radius: 12px;
    border: 1px solid transparent;
    color: $color-text;
    cursor: pointer;

    img {
      height: 80px;
      width: 80px;
      object-fit: cover;
    }

    &:hover {
      text-decoration: none;
      border-color: $primary;
      background-color: $light-grey;
    }
  }
}

.navbar-nav {
  .dropdown {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    top: 50px;
    width: 705px;
  }
}
