.notification {
  &-wrapper {
    position: relative;
  }
  @include e(list) {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    white-space: normal;
    @include m(pl) {
      padding-left: 56px;
    }
    &.br {
      .notification__item:first-child {
        .notification__link {
          border-radius: 8px 8px 0 0;
        }
      }
      .notification__item:last-child {
        .notification__link {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
  @include e(link) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid getColor('grey.borderGray');
    color: $color-text;
    &:hover {
      background-color: transparentize($primary, 0.9);
      text-decoration: none;
    }
  }

  @include e(item) {
    &:not(:last-child) {
      .notification__link {
        border-bottom: 0;
      }
    }
  }

  @include e(dot) {
    display: inline-block;
    min-height: 10px;
    min-width: 10px;
    background-color: $primary;
    border-radius: 50%;
    margin-left: 1rem;
  }

  &-calendar-icon {
    &:before {
      content: '';
      width: 1px;
      display: inline-block;
      height: 110%;
      background: getColor('grey.borderGray');
      position: absolute;
      left: 22px;
      top: 22px;
      z-index: -1;
    }
  }
  &-toggle {
    position: relative;
  }
  &-counter {
    font-size: 12px;
    position: absolute;
    top: 2px;
    left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 20px;
    padding: 6px;
    background-color: getColor('danger.base');
    color: $white;
    border-radius: 50px;
    font-weight: 400;
    line-height: 1;
  }

  &-dropdown {
    position: absolute;
    background-color: $white;
    top: 45px;
    right: -5px;
    border: 1px solid getColor('grey.borderGray');
    border-radius: 8px;
    max-width: 420px;
    width: 420px;
    box-shadow: 12px 12px 18px rgba(0, 24, 87, 0.15);
    font-size: 1rem;
    font-weight: 400;
    cursor: default;
    .notification__list {
      max-height: 560px;
      overflow: auto;
    }
    .notification__item {
      &:first-child .notification__link {
        border-top: 0;
      }
    }
    .notification__item {
      &:last-child .notification__link {
        border-bottom: 0;
      }
    }
    .notification__link {
      border-left: 0;
      border-right: 0;
    }
  }
}
