$pillFilled: 
    'primary' $primary $white,
    'secondary' $secondary $white,
    'teal' $teal $white
    ;
$pillOutlined:
    'primary' $primary $color-text,
    'secondary' $secondary $color-text,
    'teal' $teal $color-text,
;
.pill {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    border-radius: 50px;
    line-height: 1.2;
    &-group {
        display: flex;
        gap: 0.75rem;
    }
}

@each $name, $bg, $color in $pillFilled {
    .pill-filled--#{$name} {
        background-color: $bg;
        color: $color;
    }
}

@each $name, $borderColor, $color in $pillOutlined {
    .pill-outlined--#{$name} {
        border: 1px solid $borderColor;
        background-color: $white;
        color: $color;
    }
}