.search-wrapper {
  .form-control {
    padding: getSpacing('8x');
    padding-left: getSpacing('16x');
    font-size: 20px;
  }

  .input-group-prepend {
    color: $color-text;
  }

  .search {
    @include e(list) {
      list-style-type: none;
      padding: getSpacing('7x') 0;
      margin-bottom: 0;
    }

    @include e(item) {
      margin-bottom: getSpacing('6x');
    }

    @include e(link) {
      background-color: $purple-grey;
      padding: getSpacing('4x');
      display: block;
      border-radius: $border-radius;

      &:hover {
        background-color: transparentize($primary, 0.9);
        text-decoration: none;
      }

      @include mq(sm) {
        padding-right: getSpacing('12x');
      }

      .search-title {
        color: $color-text;
        font-weight: 600;
      }
    }

    &-cross {
      display: flex;
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.empty-page {
    .form-control {
      padding-top: getSpacing('6x');
      padding-bottom: getSpacing('6x');

      @include mqmax(sm) {
        padding-left: getSpacing('6x');
      }
    }

    .btn-search {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 148px;

      @include mqmax(sm) {
        width: auto;
        padding: 10px;
      }
    }
  }
}


.search__img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  background: #FFF1D6;
  border-radius: 10px;
}

.search__block {
  background-color: $white;
  border: 0.0625em solid #D3DCE6;
  border-radius: 0.25em;
  box-shadow: 14.4727px 24.1212px 53.0666px rgba(0, 28, 71, 0.12);

  svg {
    transition: all .3s ease-in-out;
  }

  &.selected {
    border: 0.0625em solid #0556F3;

    .major__selected, .minor__selected {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.search__minor,
.search__major {
  padding: getSpacing('5x') getSpacing('5x') getSpacing('5x') getSpacing('7x');
  position: relative;
  cursor: pointer;
}

.search__major {

  min-width: 100%;

  @include mq(lg) {
    min-width: 310px
  }

  @include mq(xl) {
    min-width: 425px;
  }
}

.search__minor {
  min-width: 210px;

  @include desktop {
    min-width: 100%;

    &::after {
      display: none;
    }
  }

  @include mqmax(lg) {
    border-bottom: 1px solid $gray-400;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0.8em;
    right: 0;
    z-index: 10;
    width: 0.0625em;
    height: calc(100% - 1.8em);
    background-color: #D3DCE6;
  }
}

.minor__list {
  position: absolute;
  z-index: -50;
  padding: 1.25em;
  min-width: 100%;
  left: 0;
  background-color: $white;
  top: calc(100% - 4em);
  border: 0.0625em solid #D3DCE6;
  box-shadow: 0.875em 1.5em 3.31em rgba(0, 28, 71, 0.12);
  border-radius: 12px;
  opacity: 0;

  @include desktop {
    width: 100%;
  }


  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% - 0.55em);
    left: 50%;
    height: 20px;
    width: 20px;
    transform: translateX(-50%) rotate(45deg);
    background-color: $white;
    border-top: 0.0625em solid #D3DCE6;
    border-left: 0.0625em solid #D3DCE6;
    z-index: 100;
  }

  &.show {
    top: calc(100% + 1.4em);
    opacity: 1;
    z-index: 50;
  }

  li {
    list-style: none;
    padding: 0.4em 0;
  }
}

.major__list {
  position: absolute;
  z-index: -50;
  padding: 32px;
  width: 984px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  top: calc(100% - 4em);
  border: 0.0625em solid #D3DCE6;
  box-shadow: 0.875em 1.5em 3.31em rgba(0, 28, 71, 0.12);
  border-radius: 12px;
  transition: all .2s ease-in-out;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop {
    width: 100%;
  }
  @include mqmax(md){
  padding: 24px 20px 24px 24px;
  .col-lg-6{
    margin-top: 16px;
    &:nth-child(1){
    margin-top: 0;
    }
  }

  }

  &::before {
    content: '';
    position: absolute;
    bottom: calc(100% - 0.55em);
    left: 50%;
    height: 20px;
    width: 20px;
    transform: translateX(-50%) rotate(45deg);
    background-color: $white;
    border-top: 0.0625em solid #D3DCE6;
    border-left: 0.0625em solid #D3DCE6;
    z-index: 100;
  }

  .major__item {
    padding: 32px;
    border-radius: 0.25em;
    width: 445px;
    height: 106px;

    @include mqmax(lg) {
      padding: 24px;
      height: 84px;
      // max-width: 283px;
      width: 100%;
      
    }
  }

  &.show {
    top: calc(100% + 1.4em);
    opacity: 1;
    z-index: 50;
  }
  .mw-100{
    width: 100%;
    
    &:nth-child(2), &:nth-child(3),&:nth-child(4){
      margin-top: 16px;
    }
    @include mq(lg){
      width: auto;
      &:nth-child(2){
        margin-top: 0;
      }
      &:nth-child(3),&:nth-child(4){
        margin-top: 24px;
      }
    }
  }
}

.major__item--red {
  background-color: $light-red;
}

.major__item--green {
  background-color: $light-green;
}

.major__item--yellow {
  background-color: $light-yellow;
}

.major__item--blue {
  background-color: $light-blue;
}

.major__item img {
  width: 42px;
  height: 42px;
  object-fit: contain;

  @include mqmax(md) {
    width: 36px;
    height: 36px;
  }
}

.search__element {
  @include mqmax(lg) {
    width: 100%;
  }
}
