.stepper {
  display: flex;
  margin-bottom: 0;
  gap: 0.5rem;
  list-style: none;
  @include e(item) {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: 12px;
    cursor: pointer;
    span {
      height: 4px;
      display: inline-block;
      background-color: transparentize($color: $primary, $amount: 0.6);
      border-radius: 25px;
      width: 100%;
      @include transition;
    }
    @include m(complete) {
      span {
        background-color: $primary;
      }
    }
    @include m(current) {
      span {
        background-color: $primary;
      }
    }
    &:hover {
      span {
        background-color: $primary;
      }
    }
  }
}
