.react-tabs {
  @include e(tab-list) {
    display: flex;
    align-items: center;
    gap: 24px;
    // border-bottom: 1px solid getColor("grey.borderGray") ;
  }

  @include e(tab) {
    margin-bottom: 0px;
    @include getFontSize('body16');
    font-weight: 600;
    padding-bottom: getSpacing('2x');
    color: getColor('text.paragraph');
    cursor: pointer;
    position: relative;

    &:after {
      content: '';
      display: none;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: getColor('primary.base');
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @include m(selected) {
      color: getColor('primary.base');

      // box-shadow: 0 2px 0px 0 getColor('primary.base');
      &:after {
        display: inline-block;
      }
    }

    &:hover {
      color: getColor('primary.base');
    }
  }
}

.lesson-tabs {
  .tab {
    display: flex;

    .tab__item {
      cursor: pointer;
    }

    @include e(item) {
      a {
        display: inline-block;
        padding: 0.75rem 1rem;
        color: $color-text;
        border-bottom: 2px solid transparent;
      }

      &:hover:not(.tab__item--current) {
        a {
          background-color: $light-grey;
          // border-color: $primary;
          // color: $primary;
        }
      }

      &:hover {
        a {
          text-decoration: none;
        }
      }

      @include m(current) {
        a {
          color: $primary;
          border-color: $primary;
        }
      }
    }
  }
}


.tab__indicator {
  font-size: .75rem;
  background-color: $gray-200;
  border-radius: .2rem;
  padding: .1rem .4rem;
}

.filter__block {
  @include mq(lg){
    min-height: calc(100vh - 449px);
    }
  @include mqmax(lg) {
    padding: 0 !important;
    border: none !important;
    overflow: auto;

    &::-webkit-scrollbar {
      opacity: 0;
    }
  }
}

.filter__primary {
  @include mqmax(md) {
    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
    overflow-x: auto;
  }

  .nav-link {
    @include mqmax(md) {
      padding: 12px .8rem !important;

      &:nth-child(2) {
        min-width: 170px;
      }
    }
  }
}

.filter__secondary {
  transition: all .3s ease-in-out;

  &.show {
    @include mqmax(lg) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      background-color: $white;
      box-shadow: 0px -6px 11px rgba(0, 0, 0, 0.06);
    }
  }

  @include mqmax(lg) {
    position: fixed;
    bottom: -20rem;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: $white;
    box-shadow: 0px -6px 11px rgba(0, 0, 0, 0.06);
  }
}

.search__list {
  .search__item {
    .search__link {
      cursor: pointer;
    }
  }
}
