.terms-wrapper {
  font-size: 1.125rem;

  h2 {
    margin-bottom: getSpacing('3x');
  }

  h3 {
    margin-top: getSpacing('8x');
    margin-bottom: getSpacing('3x');
  }

  ol,
  ul {
    margin-bottom: getSpacing('4x');

    li {
      margin-bottom: getSpacing('3x');
    }

    ol,
    ul {
      margin-top: getSpacing('3x');
    }
  }
}
