.faq {
  @include e(page) {
    .nav-link {
      &.active {
        color: $primary;
      }
    }

    .faq__detail {
      padding: 56px 0 72px 59px;
    }

    @include mqmax(lg) {
      .faq__detail {
        padding: 56px 15px 72px;
      }

      .hero-faq {
        padding: 48px 0;
        height: 204px;
      }
    }
  }
}
